script(src='#{site.public.js}lib/systemjs/system.js')
script(src="#{site.public.socket}socket.io/socket.io.js")
//- script(src='_bower/webcomponentsjs/webcomponents-lite.js')
script(src='#{site.public.build}js/gabba.js')

script.
	//- System.transpiler = 'reactify';
	//- System.transpiler = 'babel';
	//- Gabba.init('#{site.public.socket}');
