// COLORS
$white = #fff
$black = #222
$primary = #852bcc
$secondary = #3473c6


// STATUS
$ok = #42c23b
$bad = #c00
$warn = #db9e15
$info = #3b72de


// BODY
$body-bg = rgba(0,0,0,0.05)
$body-font = 'Raleway', 'Helvetica Neue', 'Arial', sans-serif
$body-font-size = 14px

// LINKS
$link-color = $primary

// BORDERS
$border-size = 1px
$border-color = #ccc

// FORMS
$input-border-color = $border-color
$input-border-style = solid
$input-border-size = 2px
$input-padding = 20px
$input-margin = 0px 0px 10px 0px
$input-round = 3px
$input-bg = #fff
$input-width = 100%
