script(src='#{site.public.js}lib/systemjs/system.js')
script(src="#{site.public.socket}socket.io/socket.io.js")
script(src='#{site.public.build}js/yak.js')

script.
	System.transpiler = 'babel';
	Yak.init('#{site.public.socket}')
