//- script(src='#{site.public.lib}/systemjs/system.js')
//- script(src="#{site.public.socket}socket.io/socket.io.js")
script(src='#{site.public.build}gabba.js')

script.
	//- System.transpiler = 'babel';
	//- window.Gabba.init();
