@import url('http://fonts.googleapis.com/css?family=Raleway');
@import url('http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,300italic,400italic');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-weight 100
}
html,
body {
  background-color: #fff;
  height: 100%;
}
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 5px 0px;
  padding: 0px;
}
h1 {
  padding-bottom: 10px;
}
pre {
  line-height: 200%;
  font-size: 12px;
  background-color: rgba(255,0,0,0.05);
  padding: 20px;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.bad {
  color: #c00;
}
.good {
  color: #2fbb20;
}
.highlight {
  color: #d98a38;
}
