.header
  background-color rgba(0,0,0,0.1)
  width 100%
  height 10%
  padding 25px
  position relative
  top 0
  left 0


.messages
  width 100%
  height 80%
  padding 20px
  position relative
  left 0


.footer
  width 100%
  height 10%
  padding 20px
  position relative
  bottom 0
  left 0

  .user-input
    border solid 2px #52A0C0
    border-radius 5px
    width 100%
    padding 10px
