.message
  padding 10px

  .from
    font-weight bold
    color rgba(0,0,0,0.9)

  .text
    font-weight 300
    color rgba(0,0,0,0.5)

  &.new-user

    .join
      font-weight 100
      color green

    .leave
      font-weight 100
      color red
