.messages
  background rgba(255,255,255,1);
  top 99px
  bottom 70px
  padding 10px
  position absolute
  left 0
  right 0
  overflow auto
  z-index 9

  .message
    padding 10px
    margin-bottom 15px

    .tag
      color #71bee9

    .avatar
      height 50px
      margin 5px 10px 0 10px
      float left

    .from
      font-size 14px
      font-family: 'Vollkorn', serif;
      font-style: italic;
      color #899fa8

      .date
        display inline-block
        font-size 12px
        color #cbd9e0
        margin-left 8px
        text-transform lowercase

    .text
      font-weight 300
      color #192126
      margin-left 70px

      p:first-child
        margin-top 0
        padding-top 0

    &.new-user

      .join
        font-weight 100
        color green

      .leave
        font-weight 100
        color red
