html, body
  background #192126
  color #fff
  font-family 'Helvetica'
  font-size 14px
  padding 10%

*
  font-weight 100

h1
  margin 0
  padding 0

// ELEMENTS
#login-button
  background #007ccc
  color #fff
  padding 10px
  // margin 0px 0px

#register-button
  color #fff
  padding 10px
  margin 0px 0px 0px 5px
  text-transform none

input
  background #fff
  border 0
  border-radius 3px
  font-size 14px
  margin-right 5px
  padding 20px

login
  h1
    margin-bottom: 10px;

  login-actions
    display: block;

  input
    display: block;
    margin-bottom: 10px;
