@import '_modules/normalize';
@import '_modules/base';

html, body
  background #192126

.login
  padding 30px
  text-align center
  color #fff;

  h2
    margin-bottom 10px

  input.name
    list-style none
    border-radius 5px
    background #fff
    text-align left
    padding 22px
    margin-bottom 20px
    color #333
    width 30%
    border none

  input.email
    list-style none
    border-radius 5px
    background #fff
    text-align left
    padding 22px
    margin-bottom 20px
    color #333
    width 30%
    border none
    margin-left 10px

  button.go
    // display block
    list-style none
    border-radius 5px
    background #0083cf
    text-align left
    padding 20px
    margin-bottom 20px
    margin-left 10px
    color #fff
    border none
