//- HTML
dom-module#login-form
    template
      status
        
      iron-collapse#login
        //- input#username.name(name='username', placeholder='Jiminy Cricket')
        //- input#email.email(name='email', placeholder='jiminy@cricket.com', type='email')
        login-actions
          a(href="/auth/twitter")
            paper-button#login-button.primary Login with Twitter
          a(href="/auth/github")
            paper-button#login-button.primary Login with Github
          //- paper-button#show-register-button.secondary Register
        
      iron-collapse#register
        input(placeholder='Name')
        input(placeholder='Email')
        input(placeholder='Password')
        
        login-actions
          paper-button#register-button.primary Register
          paper-button#cancel-register-button.aside Cancel
          
    
    
//- CSS
style.
  
  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  h1 { margin-bottom: 10px; }        
  
  login-actions {
    display: block;
    margin-top: 20px;
  }


//- JS
script.
  
  Polymer({
  
    is: "login-form",
    
    listeners: {
      'login-button.tap': 'login',
      //- 'show-register-button.tap': 'showRegister',
      'register-button.tap': 'register',
      'cancel-register-button.tap': 'cancelRegister'
    },
    
    //- LOCKER & LOADED
    ready : function() {
    
      var Socket  = window.socket;
      //- Gabba.Login.init();
      this.$.login.toggle(); // show login form
      
      Socket.on('user:connected', function( data ) {
        console.log('user connected:');
        console.log(data);
      });
      
    },
    
    //- PROCESS LOGIN
    login : function() {
    
      //- var u = this.$.username.value,
          //- e = this.$.email.value,
      var Socket  = window.socket;
          
          console.log('user.login()');
      
      //- this.socket = window.socket = io.connect( server );
      
      //- SEND LOGIN TO SOCKET
      Socket.emit('user:login', {});

    },
    
    //- PROCESS REGISTRATION
    register : function() {
      console.info('register user');
    },
    
    //- SHOW REGISTER FORM
    showRegister : function() {
      this.$.register.toggle();
      this.$.login.toggle();
    },
    
    //- HIDE REGISTER FORM
    cancelRegister : function() {      
      this.$.register.toggle();
      this.$.login.toggle();
    }

  });
