<dom-module id="login-form"><template><status></status><iron-collapse id="login"><login-actions><a href="/auth/twitter"><paper-button id="login-button" class="primary">Login with Twitter</paper-button></a><a href="/auth/github"><paper-button id="login-button" class="primary">Login with Github</paper-button></a></login-actions></iron-collapse><iron-collapse id="register"><input placeholder="Name"/><input placeholder="Email"/><input placeholder="Password"/><login-actions><paper-button id="register-button" class="primary">Register</paper-button><paper-button id="cancel-register-button" class="aside">Cancel</paper-button></login-actions></iron-collapse></template></dom-module><style>input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

h1 { margin-bottom: 10px; }        

login-actions {
  display: block;
  margin-top: 20px;
}

</style><script>Polymer({

  is: "login-form",
  
  listeners: {
    'login-button.tap': 'login',
    //- 'show-register-button.tap': 'showRegister',
    'register-button.tap': 'register',
    'cancel-register-button.tap': 'cancelRegister'
  },
  
  //- LOCKER & LOADED
  ready : function() {
  
    var Socket  = window.socket;
    //- Gabba.Login.init();
    this.$.login.toggle(); // show login form
    
    Socket.on('user:connected', function( data ) {
      console.log('user connected:');
      console.log(data);
    });
    
  },
  
  //- PROCESS LOGIN
  login : function() {
  
    //- var u = this.$.username.value,
        //- e = this.$.email.value,
    var Socket  = window.socket;
        
        console.log('user.login()');
    
    //- this.socket = window.socket = io.connect( server );
    
    //- SEND LOGIN TO SOCKET
    Socket.emit('user:login', {});

  },
  
  //- PROCESS REGISTRATION
  register : function() {
    console.info('register user');
  },
  
  //- SHOW REGISTER FORM
  showRegister : function() {
    this.$.register.toggle();
    this.$.login.toggle();
  },
  
  //- HIDE REGISTER FORM
  cancelRegister : function() {      
    this.$.register.toggle();
    this.$.login.toggle();
  }

});</script>