input
  background #fff
  border 0
  border-radius 3px
  font-size 14px
  margin-right 5px
  padding 20px
  border-style $input-border-style
  border-width $input-border-size
  border-color $input-border-color


label
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight bold
  font-size 15px
