input
  background $input-bg
  border-radius $input-round
  margin $input-margin
  padding $input-padding
  border-style $input-border-style
  border-width $input-border-size
  border-color $input-border-color


label
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight bold
  font-size 15px
