@import '../_functional/mixins';

input
  background $input-bg
  border-color $input-border-color
  border-radius $input-round
  border-style $input-border-style
  border-width $input-border-size
  margin $input-margin
  padding $input-padding
  width $input-width


label
  display inline-block
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight bold
  font-size 15px


.button
  background-color $primary
  border none
  color $white
  padding 10px 20px
  $transition(background)

  &:hover
    background darken($primary, 20%);
    cursor pointer
