
// BORDERS
$border-size = 1px
$border-color #ccc

// FORMS
$input-border-color = $border-color
$input-border-style = solid
$input-border-style = 2px

// STATUS
$ok = #11c844
$bad = #c00
$warn = #db9e15
$info = #3b72de
