extends layouts/default

block content

  section.login(ng-controller='login')
    
    br
      
    h1.ng-cloak {{title}}
    
    br
      
    input(id="username", name="username", placeholder="{{name}}", ng-cloak).name
    br
    input(id="email", name="email", placeholder="{{email}}" type="email", ng-cloak).email
    button.go Go
    
    br
    br
    
    a(href="download/mac.zip").download Download the Mac app
